.example-fill-remaining-space {
    flex: 1 1 auto;
}

.textTitle {
    margin-left: 10px;
}

.logo {
    display: inline-block;
    font-size: 56px;
}

@media only screen and (max-width: 600px) {
    .logo img {
        width: 56px;
        height: 56px;
    }
}

@media only screen and (min-width: 601px) {
    .logo img {
        width: 64px;
        height: 64px;
    }
}