<mat-toolbar color="primary">
    <a href="/home" aria-label="Logo" rel="noopener"><img mat-menu-item role="Logo" src="https://ui-avatars.com/api/?name=Tempo+Sensual&background=E91E63&color=fff" alt="Logo"></a>
    <span class="textTitle">{{title}}</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <!--
    <span>
      <mat-menu #appMenu="matMenu" yPosition="above">
        <button mat-menu-item aria-label="Acceso Alumnos">
          <mat-icon> input </mat-icon>
          <span> Acceso Alumnos </span>
        </button>
        <button mat-menu-item aria-label="Ayuda">
            <mat-icon> help </mat-icon>
            <span> Ayuda </span>
          </button>
      </mat-menu>
      
      <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Más">
        <mat-icon>more_vert</mat-icon>
      </button>
    </span>
  -->
  </mat-toolbar>
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabClick($event)">
    <mat-tab label="Escuela de baile">
      <ng-template mat-tab-label>
          <mat-icon color="primary"> info </mat-icon>
          Escuela de baile
      </ng-template>
      <h1>Escuela de baile</h1>
    </mat-tab>
    <mat-tab label="Horario">
      <ng-template mat-tab-label>
          <mat-icon color="primary"> event </mat-icon>
          Horario
      </ng-template>
      <h1>Horario</h1>
    </mat-tab>
    <mat-tab label="Videos">
      <ng-template mat-tab-label>
          <mat-icon color="primary"> video_library </mat-icon>
          Videos
      </ng-template>
      <h1>Videos</h1>
    </mat-tab>
    <mat-tab label="Contacto">
      <ng-template mat-tab-label>
          <mat-icon color="primary"> place </mat-icon>
          Contacto
      </ng-template>
      <h1>Contacto</h1>
    </mat-tab>
  </mat-tab-group>
