.homeText {
    text-align: justify;
    text-justify: inter-word;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h5 {
    display: flex;
    color: #ccc;
    width: 100%;
    margin-top: .2em!important;
  }
  h5::before,
  h5::after {
    content: "";
    flex:1;
    align-self: center;
    border-bottom: 1px solid #ccc;
  }
  h5::before {margin-right: .3em}
  h5::after {margin-left: .3em}

  .meetupImg {
    width: 200px;
    height: auto;
  }

  .bannerStyle {
    background-color: #ccc;
    background-size: cover !important;
    height: 450px;
}

.bannerStyle img {
    width: 100%;
    height: 100%;
}

  .leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}