<form #myForm="ngForm" (ngSubmit)="sendQuery(myForm)">

  <mat-grid-list [cols]="cols" rowHeight="4:1">
    <mat-grid-tile>
      <mat-form-field class="full-width" hintLabel="Necesario nombre y apellidos">
        <input #name="ngModel" matInput type="text" name="name" placeholder="Nombre y apellidos" ngModel required>
      </mat-form-field>
      <app-form-errors [control]="name"></app-form-errors>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width" hintLabel="Ejemplo formato email válido: jhon@gmail.com">
        <input #email="ngModel" matInput type="email" name="email" placeholder="Email" ngModel required email>
      </mat-form-field>
      <app-form-errors [control]="email"></app-form-errors>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width" hintLabel="Ejemplo formato teléfono válido: 666666666">
        <input #phoneNumber="ngModel" matInput type="text" name="phoneNumber" placeholder="Teléfono" ngModel required>
      </mat-form-field>
      <app-form-errors [control]="phoneNumber"></app-form-errors>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width" hintLabel="Max 100 caracteres">
        <textarea #textarea="ngModel" matInput name="query" placeholder="Consulta" ngModel required maxlength="50" maxlength="100"></textarea>
        <mat-hint align="end">{{textarea.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <app-form-errors [control]="textarea"></app-form-errors>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="button-row">
    <button mat-raised-button color="primary" [disabled]="myForm.invalid || myForm.pending">Enviar</button>
  </div>
</form>

<!--<pre>{{myForm.value | json}}</pre>-->

<!-- This creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map. -->
<br>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker [latitude]="lat" [longitude]="lng">
    <agm-info-window>
      <strong>Tempo Sensual Calle Tarragona 18</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>
