<footer>
    <mat-toolbar-row color="primary">
        <span>© Copyright 2018 Tempo Sensual</span>
        <span class="example-spacer"></span>
        <a href="https://www.youtube.com/channel/UC74okSNA2iyFx8syFPwwwFw" target="_blank" aria-label="Canal Youtube" rel="noopener">
            <!--<mat-icon class="example-icon">video_library</mat-icon>-->
            <img src="assets/img/youtube-play.png" alt="Youtube Icon"/>
        </a>
        <a href="#" target="_blank" aria-label="Facebook" rel="noopener">
            <!--<mat-icon class="example-icon">video_library</mat-icon>-->
            <img src="assets/img/facebook-box.png" alt="Facebook Icon"/>
        </a>
        <!--<mat-icon class="example-icon">favorite</mat-icon>-->
      </mat-toolbar-row>
</footer>
